<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/img/icons/favicon.ico">
    <link rel="stylesheet" href="/static/css/icalc_css.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- UI Javascript -->
    <script src="/static/js/dec-stripe.js"></script>

    <!-- web3 -->
    <script src="/static/js/web3/web3.js"></script>


<title>dec-stripe</title>
</head>
<body>
   <div id="head_bar" class="top_bar shadow">
   <div class="row">
   <div class="col-6" style="text-align:left">
   <span class="button-label" onclick="pageBack();">&larr; BACK</span>
   </div>
   <div class="col-6" style="text-align:right">
   <span id="account_address" style="background:rgb(45, 51, 59); border-radius:3px; padding:4px;padding-left:10px;padding-right:10px; color:">Not connected</span>
   </div>
   </div>
   </div>
   <div id="all_content" style="margin-top:30px" class="container-fluid">
      <div id="content_card" class="content_section">
      </div>
   </div>
</body>
</html>


<!-- BEFORE CONNECTING -->
<script  id="before_connecting_element" language="text">
<div style="text-align:center">
 <br>
 <br>
 <br><span>Connect your wallet and create your store!</span>
 <br>
 <br>
 <br>
 <button type="button" class="btn green-button" onclick="connectWeb3()">Connect</button>
 <br>
 <br>
 </div>
</script>


<!-- CREATE NEW CHECKOUT -->
<script  id="create_new_checkout_element" language="text">
<div style="text-align:center">
 <br>
 <br>
 <span>That's great!</span><br><span>Now let's create your checkout</span>
 <br>
 <br>
 <br>
 <button type="button" class="btn green-button" onclick="createPaymentContract()">Create my store</button>
 <br>
 <br>
 <div id="existing_stores"></div>
 </div>
</script>


<!-- EXISTING CHECKOUTS -->
<script  id="existing_checkouts_element" language="text">
<div style="text-align:center">
 <br>
 <br>
 <span>Manage your existing stores:</span><br><div id="existing_stores"></div>
  <br>
 <br>
 <button type="button" class="btn green-button" onclick="createPaymentContract()">Create new store</button>
 </div>
</script>

<!-- EXISTING STORE ROW -->
<script  id="existing_store_row" language="text">
<span style="color:blue; cursor:pointer" onclick="manageStore(this)" contract_address="{contract_address}">{contract_address}</span><br>
</script>

<!-- PENDING STORE ROW -->
<script  id="pending_store_row" language="text">
<img  style="height:20px" src="/static/img/loading.gif"/> <a style="color:grey; cursor:pointer" href="https://etherscan.io/tx/{hash}" target="_blank">Transaction: {hash_shortened}</a><br>
</script>


<!-- MANAGE STORE PANEL -->
<script  id="manage_store_panel_element" language="text">
<span>Managing store: {contract_address}</span><br><br><br>
<div class="row">
<div class="col-sm-6"><span><strong>Owner:</strong></span></div>
<div class="col-sm-6"><span>{owner}</span></div>
<br><br>
<div class="col-sm-6"><span><strong>Wallet:</strong></span></div>
<div class="col-sm-6"><span>{wallet}</span></div>
<br><br>
<div class="col-sm-6"><span><strong>Products:</strong></span></div>
<div class="col-sm-6">
<div style="text-align:right">
{loading} <button type="button" class="btn green-button" onclick="createProduct()">Create product</button>
 </div>
 <br>
<span>{products_rows}</span>
</div>

</div>

</script>

<!-- PRODUCT ROW -->
<script  id="product_row" language="text">
<div class="shadow" style="padding:10px; border-radius: 5px; ">
<table class="table" style="font-size:10pt; text-align:center">
   <tbody>
<tr>
   <td style="text-align:left; width:30%">Name: </td>
    <td style="text-align:left">{name}</td>
</tr>
<tr>
   <td style="text-align:left">Description: </td>
    <td style="text-align:left">{description}</td>
</tr>
<tr>
   <td style="text-align:left">Price: </td>
    <td style="text-align:left">{price}</td>
</tr>
<tr>
   <td style="text-align:left">Active: </td>
    <td style="text-align:left">{isactive}</td>
</tr>
<tr>
   <td style="text-align:left">Id: </td>
    <td style="text-align:left">{_id}</td>
</tr>
   </tbody>
</table>
<div style="text-align:right">
<button type="button" class="btn green-button" contract_address="{contract_address}" product_id="{_id}" onclick="payPreview(this)">Pay preview</button> {loading_delete_product} <button type="button" class="btn secondary" contract_address="{contract_address}" product_id="{_id}" onclick="{delete_function}">Delete</button>
 </div>
</div>
<br>
</script>


<!-- CREATE PRODUCT PANEL ELEMENT --> 
<div class="modal fade" id="create_product_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Create product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         
         
         <div class="modal-body">
            <p style="color:grey">Name: </p>
            <div class="input-group mb-3">
               <input type="text" class="form-control" oninput="updateProductName(this)" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <br>
            <p style="color:grey">Description:</p>
            <div class="input-group mb-3">
               <textarea class="form-control" rows="3" id="comment" oninput="updateProductDescription(this)"></textarea>
            </div>
            <p style="color:grey">Price ETH: </p>
            <div class="input-group mb-3">
               <input type="text" class="form-control" oninput="updateProductPrice(this)" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
         </div>
         
    
         <div class="modal-footer">
            <button type="button" class="btn green-button" data-dismiss="modal" onclick="saveProduct()">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>  


<!-- CREATE PRODUCT PANEL ELEMENT --> 
<div class="modal fade" id="pay_preview_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="padding:20px">
         <h5 id="pay_product_name" class="modal-title" style="text-align:center"></h5>
         <br><br>       
         <table class="table" style="font-size:10pt; text-align:center">
            <tbody>
               <tr>
                  <td style="text-align:left; width:30%">Description: </td>
                  <td id="pay_product_description" style="text-align:left"></td>
               </tr>
               <tr>
                  <td style="text-align:left">Price: </td>
                  <td style="text-align:left"><span id="pay_product_priceInEth"></span><br><span id="pay_product_priceInWei" style="color:grey"></span></td>
               </tr>
            </tbody>
         </table>
         <div class="modal-body">
            <div style="text-align:center">
               <button id="pay_product_pay_button" product_id="" contract_address="" priceInWei="" customer_id="" account=""  type="button" class="btn green-button" data-dismiss="modal" onclick="pay(this)"></button><br><br>
               <span style="color:grey" data-dismiss="modal">Cancel</span> 
            </div>
         </div>
      </div>
   </div>
</div>