<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/img/icons/favicon.ico">
    <link rel="stylesheet" href="/static/css/icalc_css.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- UI Javascript -->
    <script src="/static/js/dec-stripe.js"></script>
    
    <link rel="stylesheet" href="/static/css/bs-stepper.min.css">
    <script src="/static/js/bs-stepper.min.js"></script>

    <!-- web3 -->
    <script src="/static/js/web3/web3.js"></script>


<title>OnePay - Decentralized crypto payments</title>
</head>
<body class="colorshade">
<div >
   <div id="head_bar" class="row top_bar" style="margin:0px">
   <div id="go_back_button" class="col-4" style="text-align:left">
   <span class="button-label" onclick="pageBack();">&larr; BACK</span>
   </div>
   <div class="col-8" style="text-align:right">
   <span id="account_address" style="background:rgb(45, 51, 59); border-radius:3px; padding:4px;padding-left:10px;padding-right:10px; color:">Not connected</span>
   </div>
   </div>

   <div id="all_content" style="margin-top:30px" class="container-fluid">
   </div>
</div>
</body>
</html>


<!-- BEFORE CONNECTING -->
<script  id="before_connecting_element" language="text">
<!-- desktop version -->
<div id="content_card" class="desk content_section shadow cloud-container" style="background-color:white;border-radius: 5px;">
<div style="text-align:center;width:90%;position: absolute;top: 50%;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);">

   <img  style="width:40%" src="/static/img/Mobile_payment@2x.png"/>
   <br><span style="font-size:18pt; 	font-family: 'Museo Sans Cyrl';font-weight: 500;">Welcome to OnePay</span>
   <br><span style="font-size:14pt">OnePay is a fully decentralized way to accept crypto payments for your online business.</span>
   <br><span style="font-size:14pt; color:rgb(190,190,190); border-bottom: 1px dashed rgb(190,190,190); cursor:pointer" onclick="howDoesItWork()">What's in for me?</span>
   <br>
   <br>
   <br><span>Start by connecting your wallet</span>
   <br>
   <br>
   <button type="button" class="btn green-button" onclick="connectWeb3()">Connect</button>
   <br>
   <br>
            <div style="text-align:center">
               <a  style="font-size:12px; color:blue" href="https://t.me/fede_765324">Let's connect!</a>
            </div>
</div>
</div>
<!-- mobile version -->
<div id="content_card" class="mobi content_section shadow cloud-container" style="background-color:white;border-radius: 5px;">
<div style="text-align:center;width:90%;position: absolute;top: 50%;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);">
   <img  style="width:70%" src="/static/img/Mobile_payment@2x.png"/><br>
   <br><span style="font-size:18pt; 	font-family: 'Museo Sans Cyrl';font-weight: 500;">Welcome to OnePay</span>
   <br><span style="font-size:14pt">OnePay is a fully decentralized way to accept crypto payments for your online business.</span>
   <br><span style="font-size:14pt; color:rgb(190,190,190); border-bottom: 1px dashed rgb(190,190,190); cursor:pointer" onclick="howDoesItWork()">What's in for me?</span>
   <br>
   <br>
   <br><span>Start by connecting your wallet</span>
   <br>
   <br>
   <button type="button" class="btn green-button" onclick="connectWeb3()">Connect</button>
   <br>
   <br>
</div>
</div>
</script>


<!-- CREATE FIRST CHECKOUT -->
<script  id="create_new_checkout_element" language="text">
<div id="content_card" class="content_section shadow cloud-container" style="background-color:white;border-radius: 5px;">
<div style="text-align:center;width:90%;position: absolute;top: 50%;left: 50%;-ms-transform: translate(-50%, -50%);transform: translate(-50%, -50%);">
   <img  class="desk" style="width:200px" src="/static/img/store.png"/>
   <img  class="mobi" style="width:150px" src="/static/img/store.png"/>
   <br><br>
   <div class="bs-stepper">
      <div class="bs-stepper-header" role="tablist">
         <!-- your steps here -->
         <div class="step active" data-target="#logins-part">
            <button class="step-trigger" role="tab" aria-controls="logins-part" id="logins-part-trigger">
            <span class="bs-stepper-circle">&#10003;</span>
            <span class="bs-stepper-label">Connect </span>
            </button>
         </div>
         <div class="line"></div>
         <div class="step" data-target="#information-part">
            <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
            <span class="bs-stepper-circle">2</span>
            <span class="bs-stepper-label">Create store</span>
            </button>
         </div>
         <div class="line"></div>
         <div class="step" data-target="#information-part">
            <button type="button" class="step-trigger" role="tab" aria-controls="information-part" id="information-part-trigger">
            <span class="bs-stepper-circle">3</span>
            <span class="bs-stepper-label">Done!  </span>
            </button>
         </div>
      </div>
      <div class="bs-stepper-content">
         <!-- your steps content here -->
         <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger"></div>
         <div id="information-part" class="content" role="tabpanel" aria-labelledby="information-part-trigger"></div>
      </div>
   </div>
   <span>That's great! Now let's create your store.<br>You will be able to add products, set prices and accept payments in crypto.</span>
   <br>
   <br>
   <br>
   <button type="button" class="btn green-button" onclick="createPaymentContractPopup()">Create my store</button>
   <br>
   <br>
   <div id="existing_stores"></div>
</div>
</div>
</script>


<!-- CREATE STORE MODAL --> 
<div class="modal fade" id="create_store_modal" style="	font-family: 'Museo Sans Cyrl';font-weight: 100" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="padding:20px; text-align:center">
         <br>
         <br>
         <span id="store_name" class="modal-title" style="text-align:center">Pick a name for your new store:</span>
         <br>
         <div class="input-group">
            <input id="input_form_store_name" style="width:70%" type="text" class="form-control" oninput="updateStoreName(this)" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
         </div>
         <br>
         <br>
         <div>
            <button type="button" class="btn green-button" onclick="createPaymentContract()">Create</button>
         </div>
         <br>
         <br>
      </div>
   </div>
</div>



<!-- EXISTING CHECKOUTS -->
<script  id="existing_checkouts_element" language="text">
<!-- desktop version -->
<div id="content_card" class="desk content_section shadow adaptable-cloud-container" style="background-color:white;border-radius: 5px;">
<div class="desk" style="padding:5%">
   <span style="font-size:16pt; font-family: 'Museo Sans Cyrl';font-weight: 300;">Manage your stores:</span>
   <br><br><br>
   <div id="existing_stores_desk" style="padding-left:30px; padding-right:30px"></div>
   <br>
   <br>
   <div style="text-align:center">
       <button type="button" class="btn green-button" onclick="createPaymentContractPopup()">Create new store</button>
   </div>
</div>
</div>
<!-- mobile version -->
<div id="content_card" class="mobi content_section shadow adaptable-cloud-container" style="background-color:white;border-radius: 5px;">
<div class="mobi" style="padding:5%">
   <span style="font-size:16pt; font-family: 'Museo Sans Cyrl';font-weight: 300;">Manage your stores:</span>
   <br>
   <div id="existing_stores_mobi" style="padding-left:30px; padding-right:30px"></div>
   <br>
   <br>
   <div style="text-align:center">
       <button type="button" class="btn green-button" onclick="createPaymentContractPopup()">Create new store</button>
   </div>
</div>
</div>
</script>





<!-- EXISTING STORE ROW -->
<script  id="existing_store_row" language="text">
<!-- desktop version -->
<div class="desk row shadow" style="height:90px;cursor:pointer;border-radius:5px; " onclick="manageStore(this)" contract_address="{contract_address}">
   <div class="col-1" style="padding:20px">
      <img style="height:50px; border-radius: 50%" src="{store_logo}" />
   </div>
   <div class="col-11" style="padding-top:20px">
      <span style="font-size:14pt; font-family: 'Museo Sans Cyrl';font-weight: 100;">{store_name}</span><br>
      <span style="font-size:12pt; font-family: 'Museo Sans Cyrl';font-weight: 100; color:rgb(190,190,190)">Contract address: {contract_address}</span><br>
   </div>
</div>
<br>
<!-- mobile version -->
<div class="mobi row shadow" style="height:90px;cursor:pointer;border-radius:5px; " onclick="manageStore(this)" contract_address="{contract_address}">
   <div class="col-3" style="padding:20px">
      <img style="height:50px; border-radius: 50%" src="{store_logo}" />
   </div>
   <div class="col-9" style="padding-top:20px">
      <span style="font-size:14pt; font-family: 'Museo Sans Cyrl';font-weight: 100;">{store_name}</span><br>
      <span style="font-size:12pt; font-family: 'Museo Sans Cyrl';font-weight: 100; color:rgb(190,190,190)">{contract_address_display}</span><br>
   </div>
</div>
</script>



<!-- PENDING STORE ROW -->
<script  id="pending_store_row" language="text">
<br>
<div style="text-align:center">
<img  style="height:20px" src="/static/img/loading.gif"/> <a style="color:grey; cursor:pointer" href="https://etherscan.io/tx/{hash}" target="_blank">Transaction: {hash_shortened}</a><br>
</div>
</script>


<!-- MANAGE STORE PANEL -->
<script  id="manage_store_panel_element" language="text">
<!-- desktop version -->
<div id="content_card" class="desk content_section shadow adaptable-cloud-container" style="background-color:white;border-radius: 5px;">
   <div class="row" style="padding:5%">
      <div class="col-2" style="padding:20px">
         <img style="height:50px; border-radius: 50%" src="{store_logo}" />
      </div>
      <div class="col-10" style="padding-top:20px">
         <span style="font-size:16pt; font-family: 'Museo Sans Cyrl';font-weight: 300;">{store_name}</span><br>
         <span style="font-size:12pt; font-family: 'Museo Sans Cyrl';font-weight: 100; color:rgb(190,190,190)">Contract address: {contract_address}</span><br>
      </div>
   </div>
   <div class="row " style="padding-left:5%; padding-right:5%">
      <div class="col-2"><span><strong>Owner:</strong></span></div>
      <div class="col-10"><span style="background:rgb(240, 240, 240); border-radius:3px; padding:4px;padding-left:10px;padding-right:10px">{owner}</span></div>
      <br><br>
      <div class="col-2"><span><strong>Wallet:</strong></span></div>
      <div class="col-10"><span style="background:rgb(240, 240, 240); border-radius:3px; padding:4px;padding-left:10px;padding-right:10px">{wallet}</span></div>
      <br><br>
      <div class="col-2"><span><strong>Products:</strong></span></div>
      <div class="col-10">
         <div style="text-align:left">
            <button type="button" class="btn green-button" onclick="createProduct()">{loading} Create product</button> 
         </div>
         <br>
         <div style="padding-left:15px">
            {products_rows}
         </div>
         <br><br><br>
      </div>
      <div class="col-2"><span><strong>Orders:</strong></span></div>
      <div class="col-10">
         <div style="padding-left:15px">
            {payments_rows}
         </div>
      </div>
      <br><br><br>
   </div>
</div>
<!-- mobile version -->
<div id="content_card" class="mobi content_section shadow adaptable-cloud-container" style="background-color:white;border-radius: 5px;">
   <div class="row" style="padding:5%">
      <div class="col-sm-2" style="padding:20px">
         <img style="height:50px; border-radius: 50%" src="{store_logo}" />
      </div>
      <div class="col-sm-10">
         <span style="font-size:16pt; font-family: 'Museo Sans Cyrl';font-weight: 300;">{store_name}</span><br>
         <span style="font-size:12pt; font-family: 'Museo Sans Cyrl';font-weight: 100; color:rgb(190,190,190)">Contract address: {contract_address_display}</span><br>
      </div>
   </div>
   <div class="row " style="padding-left:5%; padding-right:5%">
      <div class="col-sm-2"><span><strong>Owner:</strong></span></div>
      <div class="col-sm-10"><span style="background:rgb(240, 240, 240); border-radius:3px; padding:4px;padding-left:10px;padding-right:10px">{owner_display}</span></div>
      <br><br>
      <div class="col-sm-2"><span><strong>Wallet:</strong></span></div>
      <div class="col-sm-10"><span style="background:rgb(240, 240, 240); border-radius:3px; padding:4px;padding-left:10px;padding-right:10px">{wallet_display}</span></div>
      <br><br>
      <div class="col-sm-2"><span><strong>Products:</strong></span></div>
      <div class="col-sm-10">
         <div style="text-align:left">
            <button type="button" class="btn green-button" onclick="createProduct()">{loading} Create product</button> 
         </div>
         <br>
         <div style="padding-left:15px;padding-right:15px">
            {products_rows}
         </div>
         <br><br><br>
      </div>
      <div class="col-sm-2"><span><strong>Orders:</strong></span></div>
      <div class="col-sm-10">
         <div style="padding-left:15px;padding-right:15px">
            {payments_rows}
         </div>
      </div>
      <br><br><br>
   </div>
</div>
</script>



<!-- PAYMENT ROW -->
<script  id="payment_row" language="text">
<!-- desktop version -->
<div class="desk row" style="padding:12px; border-radius: 5px;background:rgb(240, 240, 240)">
   <div class="col-3">
      <span>Timestamp:</span>
   </div>
   <div class="col-9">
      <span>{timestamp}</span>
   </div>
   <div class="col-3">
      <span>Customer id:</span>
   </div>
   <div class="col-9">
      <span>{customer_id}</span>
   </div>
   <div class="col-3">
      <span>Product name:</span>
   </div>
   <div class="col-9">
      <span>{product_name}</span>
   </div>
   <div class="col-3">
      <span>Product id:</span>
   </div>
   <div class="col-9">
      <span>{product_id}</span>
   </div>
   <div class="col-3">
      <span>Price paid:</span>
   </div>
   <div class="col-9">
      <span>{price_paid}</span>
   </div>
   <div class="col-3">
      <span>Sender:</span>
   </div>
   <div class="col-9">
      <span>{sender}</span>
   </div>
</div>
<br>
<!-- mobile version -->
<div class="mobi row" style="padding:12px; border-radius: 5px;background:rgb(240, 240, 240)">
   <div class="col-5">
      <span>Timestamp:</span>
   </div>
   <div class="col-7">
      <span>{timestamp}</span>
   </div>
   <div class="col-5">
      <span>Cust id:</span>
   </div>
   <div class="col-7">
      <span>{customer_id}</span>
   </div>
   <div class="col-5">
      <span>Name:</span>
   </div>
   <div class="col-7">
      <span>{product_name}</span>
   </div>
   <div class="col-5">
      <span>Product id:</span>
   </div>
   <div class="col-7">
      <span>{product_id}</span>
   </div>
   <div class="col-5">
      <span>Price paid:</span>
   </div>
   <div class="col-7">
      <span>{price_paid}</span>
   </div>
   <div class="col-5">
      <span>Sender:</span>
   </div>
   <div class="col-7">
      <span>{sender_display}</span>
   </div>
</div>
</script>






<!-- PRODUCT ROW -->
<script  id="product_row" language="text">
<!-- desktop version -->
<div class="desk row" style="padding:12px; border-radius: 5px;background:rgb(240, 240, 240)">
   <div class="col-3">
      <span>Name:</span>
   </div>
   <div class="col-9">
      <span>{name}</span>
   </div>
   <div class="col-3">
      <span>Description:</span>
   </div>
   <div class="col-9">
      <span>{description}</span>
   </div>
   <div class="col-3">
      <span>Price:</span>
   </div>
   <div class="col-9">
      <span>{price} ETH</span>
   </div>
   <div class="col-3">
      <span>Product id:</span>
   </div>
   <div class="col-9">
      <span>{_id}</span>
   </div>
   <div class="col-12" style="text-align:right">
      <button type="button" class="btn green-button" contract_address="{contract_address}" product_id="{_id}" onclick="{pay_preview_function}">{loading_payment_preview_product} Pay preview</button> <button type="button" class="btn secondary" contract_address="{contract_address}" product_id="{_id}" onclick="{delete_function}">{loading_delete_product} Delete</button>
   </div>
</div>
<!-- mobile version -->
<div class="mobi row" style="padding:12px; border-radius: 5px;background:rgb(240, 240, 240)">
   <div class="col-5">
      <span>Name:</span>
   </div>
   <div class="col-7">
      <span>{name}</span>
   </div>
   <div class="col-5">
      <span>Description:</span>
   </div>
   <div class="col-7">
      <span>{description}</span>
   </div>
   <div class="col-5">
      <span>Price:</span>
   </div>
   <div class="col-7">
      <span>{price} ETH</span>
   </div>
   <div class="col-5">
      <span>Product id:</span>
   </div>
   <div class="col-7">
      <span>{_id}</span>
      <br><br>
   </div>
   <div class="col-12" style="text-align:center">
      <button type="button" class="btn green-button" contract_address="{contract_address}" product_id="{_id}" onclick="{pay_preview_function}">{loading_payment_preview_product} Pay preview</button> <button type="button" class="btn secondary" contract_address="{contract_address}" product_id="{_id}" onclick="{delete_function}">{loading_delete_product} Delete</button>
   </div>
</div>
<br>
</script>




<!-- CREATE PRODUCT PANEL ELEMENT --> 
<div class="modal fade" id="create_product_modal" style="	font-family: 'Museo Sans Cyrl';font-weight: 100" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="padding:20px; text-align:left">
         <span style="font-size:16pt; font-family: 'Museo Sans Cyrl';font-weight: 300;">Create a product</span><br>
         <p style="color:grey">Name: </p>
         <div class="input-group mb-3">
            <input id="input_form_new_product_name" type="text" class="form-control" oninput="updateProductName(this)" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
         </div>
         <br>
         <p style="color:grey">Description:</p>
         <div class="input-group mb-3">
            <textarea id="input_form_new_product_description" class="form-control" rows="3" id="comment" oninput="updateProductDescription(this)"></textarea>
         </div>
         <p style="color:grey">Price in ETH: </p>
         <div class="input-group mb-3">
            <input id="input_form_new_product_price" type="text" class="form-control" oninput="updateProductPrice(this)" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
         </div>
         <div class="modal-footer" style="text-align:center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn green-button" data-dismiss="modal" onclick="saveProduct()">Save</button>
         </div>
      </div>
   </div>
</div>




<!-- PAY ELEMENT --> 
<div class="modal fade" id="pay_preview_modal" style="	font-family: 'Museo Sans Cyrl';font-weight: 100" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div  class="modal-dialog modal-dialog-centered" role="document">
<!-- desktop version -->
<div class="modal-content" style="padding:40px; text-align:center">
   <div>
      <img id="pay_product_store_logo" style="height:70px; border-radius: 50%" src="" /><br><br>
      <span id="pay_product_store_name" style="font-size:20pt; font-family: 'Museo Sans Cyrl';font-weight: 300;"></span><br>
      <br><br>
      <div class="row" style="padding:12px; border-radius: 5px;background:rgb(240, 240, 240); text-align:left">
         <div class="col-5">
            <span>Product:</span>
         </div>
         <div class="col-7">
            <span id="pay_product_name"></span>
            <br><br>
         </div>
         <div class="col-5">
            <span>Description:</span>
         </div>
         <div class="col-7">
            <span id="pay_product_description"></span>
            <br><br>
         </div>
         <div class="col-5">
            <span>Price:</span>
         </div>
         <div class="col-7">
            <span id="pay_product_priceInEth"></span>
            <br>
         </div>
      </div>
      <br><br>   
      <div style="text-align:center">
         <button id="pay_product_pay_button" product_id="" contract_address="" priceInWei="" customer_id="" account_address=""  type="button" class="btn green-button" data-dismiss="modal" onclick="pay(this)"></button><br><br>
         <span style="color:grey" data-dismiss="modal">Cancel</span> 
      </div>
   </div>
</div>
</div>
</div>


<!-- HOW DOES IT WORK MODAL --> 
<div class="modal fade" id="how_does_it_work_modal" style="	font-family: 'Museo Sans Cyrl';font-weight: 100" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="padding:20px">
         <br>
         <span class="modal-title" ><strong>What is OnePay?</strong></span>
         <span class="modal-title"">OnePay is a decentralized payment gateway, think a “decentralized Stripe” built on Ethereum. While Stripe processes credit cards, onePay allows any business to process payments in Ethereum and ERC20 tokens.</span>
         <br>
         <br>   
         <div style="text-align:center">
         <iframe src="https://www.youtube.com/embed/tPdAarisugc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      
        </div>
                 <br>
         <br>   
         <span class="modal-title" ><strong>Why do I need OnePay?</strong></span>
         <span class="modal-title">Let’s say  you want to provide a service in exchange for crypto. For example, let’s say you want to get paid in the stablecoin DAI. You need a way to keep record of customers and orders, to track who paid and for what. OnePay is an application (smart contract) built on Ethereum that allows you to manage your incoming orders: you’ll be able to create a store, add products, set prices, process payments and keep track of the orders received. If you are familiar with a card processor like Stripe, OnePay has many of the same functionalities, but for the crypto world.</span>
         <br>
         <br>

         <span class="modal-title" ><strong>How much does OnePay cost?</strong></span>
         <span class="modal-title">OnePay charges a 0.5% fee on every payment processed. The OnePay application is completely free to use. </span>
         <br>
         <br>

         <span class="modal-title" ><strong>Is OnePay safe?</strong></span>
         <span class="modal-title">The core of OnePay is a open-source, publicly available smart contract running on the Ethereum blockchain. Everyone can independently verify the code, and you can dive deeper into our code base by looking at our technical documentation. OnePay is in beta, so we invite our users to carefully read the docs before implementing the app.</span>
         <br>
         <br>

         <span class="modal-title" ><strong>How do I get started?</strong></span>
         <span class="modal-title">To try OnePay you’ll need to have a web3 browser. If you are accessing OnePay via desktop using Chrome, Metamask is a great option. If you want to use OnePay from you smartphone, check out Opera browser – it is fantastic. <br>Once your browser is set up, you can start by clicking “Connect” on OnePay homepage. Once you approve OnePay access, you will be guided to create your first “store” on OnePay. A store is a smart contract that OnePay will deploy on the Ethereum blockchain, which will process the incoming payments to your business. You will be able to manage and edit your smart contract from the OnePay interface.<br>Once your store is up you will be able to add products and set prices for your items. Finally, you will find the instruction to embed the OnePay payment button on your website, by adding just a couple lines of code.</span>
         <br>
         <br>

         <span class="modal-title" ><strong>What’s the difference with Coinbase Commerce?</strong></span>
         <span class="modal-title">OnePay is a fully decentralized application, being essentially just a smart contract running on the Ethereum blockchain. This means it is totally borderless, permissionless and global. Anybody in any part of the world can join the Ethereum network. The same way, anybody can interact with the OnePay smart contract.<br>Individuals remain responsible for their own use of the protocol against applicable laws in their jurisdiction.</span>
         <br>
         <br>

         <span class="modal-title" ><strong>What’s the vision behind OnePay?</strong></span>
         <span class="modal-title">We want to enable Decentralized Finance to become useful beyond the current speculative use cases. We do this by using the core properties of the Ethereum blockchain (open, decentralized, censorship resistant) to enable a new era of accessible, permissionless commerce at a global scale.</span>
         <br>
         <br>
<button type="button" class="btn btn-secondary" data-dismiss="modal">Let's get this going</button>
      </div>
   </div>
</div>
