<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="/static/js/jquery-3.2.1.min.js"></script>



<script src=""></script>
<title>dec-stripe</title>
</head>


<div style="padding:20px; text-align:center">
<div>
<h1>Welcome to John's store</h1><br>
<h3>Get yourself a flying cat today!</h3><br>
</div>


<!-- buy now button -->
<div id='pay_button_form'>
<script 
    src='https://www.onepay.network/api/pay_button.js'
    data_product_id="0" 
    data_contract_address="0xed1ea9f1dcdbeb4cbc1f9664f7fb7edf8c7f0843" 
    data_customer_id="cust_23614">
</script>
</div>
<!-- buy now button -->
<br><br>
</div>

</body>
</html>
