<!doctype html>
<html lang="en">
<head>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/icalc_css.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<title>dec-stripe</title>
</head>


<div id='pay_button_form'>
<script 
    src='/static/js/pay_button.js'
    data-product_id="0" 
    data-contract_address="0xd9cc8b27c0541a9b607002a6b5935ef30b3c147b" 
    data-customer_id="cust_23614">
</script>
</div>

</body>
</html>
