<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="/static/js/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/icalc_css.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/static/js/web3/web3.js"></script>
<title>dec-stripe</title>
</head>


<div style="padding:20px; text-align:center">
<div>
<h1>Welcome to my store!</h1>
<h3>Get yourself a flying cat today</h3><br>
</div>


<!-- buy now button -->
<div id='pay_button_form'>
<script 
    src='/static/js/pay_button.js'
    data-product_id="0" 
    data-contract_address="0x8596fe242eb16881e1cdb0c86be3f690e3f0dd17" 
    data-customer_id="cust_23614">
</script>
</div>
<!-- buy now button -->
<br><br>
<img style="width:60%" src="https://data.whicdn.com/images/31155061/large.jpg"/>
</div>

</body>
</html>
